name: video_player
description: "Video Player Plugin for Ghosten Player"
version: 0.0.0

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  animations: ^2.0.0
  cached_network_image: ^3.4.0
  collection: ^1.19.0
  equatable: ^2.0.0
  flutter_colorpicker: ^1.1.0
  plugin_platform_interface: ^2.0.2
  rxdart: ^0.28.0
  shared_preferences: ^2.5.0
  vector_math: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.ghosten.videoplayer
        pluginClass: PlayerViewPlugin
      web:
        pluginClass: PlayerWeb
        fileName: src/player_web.dart
