name: api
description: "Api Plugin for Ghosten Player"
version: 2.1.2

environment:
  sdk: ^3.8.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  collection: ^1.19.0
  date_format: ^2.0.0
  dio: ^5.7.0
  equatable: ^2.0.0
  rxdart: ^0.28.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.ghosten.api
        pluginClass: ApiPlugin
      web:
        pluginClass: ApiWeb
        fileName: src/api_web.dart
