name: bluetooth
description: "Bluetooth Plugin for Ghosten Player"
version: 1.5.0

environment:
  sdk: ^3.8.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.ghosten.bluetooth
        pluginClass: BluetoothPlugin
