name: file_picker
description: "File Picker Plugin for Ghosten Player"
version: 0.0.0

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  animations: ^2.0.0
  infinite_scroll_pagination: ^5.1.0
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.ghosten.file_picker
        pluginClass: FilePickerPlugin
      web:
        pluginClass: FilePickerWeb
        fileName: src/file_picker_web.dart
